.onboarding {
    width: 40vw;
}

.onboarding h2 {
    margin-bottom: 1rem;
}

.onboarding-question {
    margin-bottom: 0.5rem;
}

.onboarding-question-title {
    margin-bottom: 0.8rem;
}

.onboarding-question-input div {
    width: 100%;
}

.onboarding-back-button {
    margin-right: 0.5vw;
}

.onboarding-next-button {
    margin-left: 0.5vw !important;
}
